<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1>パスワードリセット</h1>
      
      <%= form_with url: password_resets_path, local: true do |f| %>
        <div class="mb-3">
          <%= f.label :email, 'メールアドレス' %>
          <%= f.email_field :email, class: "form-control", placeholder: "メールアドレスを入力" %>
        </div>
        
        <%= f.submit "パスワードリセットメールを送信", class: "primary-button" %>
      <% end %>
      
      <div class='text-center mt-3'>
        <%= link_to 'ログイン画面に戻る', login_path %>
      </div>
    </div>
  </div>
</div>