<div class="container mt-5" style="max-width: 600px;">
  <div class="card shadow p-4 rounded-4">

    <h2 class="text-center mb-4 fw-bold">健康プロフィールの作成</h2>

    <%= form_with model: dog, local: true do |f| %>

      <!-- 名前 -->
      <div class="mb-4">
        <%= f.label :name, "愛犬のお名前", class: "form-label fw-bold" %>
        <%= f.text_field :name, class: "form-control form-control-lg rounded-pill" %>
      </div>

      <!-- サイズ -->
      <div class="mb-4">
        <label class="form-label fw-bold">サイズ</label>
        <div class="d-flex gap-2">
          <% Dog.sizes.keys.each do |size| %>
            <%= f.radio_button :size, size, class: "btn-check", id: "dog_size_#{size}" %>
            <%= f.label "size_#{size}", size_i18n(size), class: "btn btn-outline-warning rounded-pill px-4" %>
          <% end %>
        </div>
      </div>

      <!-- 年齢 -->
      <div class="mb-4">
        <label class="form-label fw-bold">年齢</label>
        <div class="d-flex gap-2">
          <% Dog.age_stages.keys.each do |age| %>
            <%= f.radio_button :age_stage, age, class: "btn-check", id: "dog_age_stage_#{age}" %>
            <%= f.label "age_stage_#{age}", age_i18n(age), class: "btn btn-outline-warning rounded-pill px-4" %>
          <% end %>
        </div>
      </div>

      <!-- 体型 -->
      <div class="mb-4">
        <label class="form-label fw-bold">体型</label>
        <div class="d-flex gap-2">
          <% Dog.body_types.keys.each do |body| %>
            <%= f.radio_button :body_type, body, class: "btn-check", id: "dog_body_type_#{body}" %>
            <%= f.label "body_type_#{body}", body_i18n(body), class: "btn btn-outline-warning rounded-pill px-4" %>
          <% end %>
        </div>
      </div>

      <!-- 活発度 -->
      <div class="mb-4">
        <label class="form-label fw-bold">活発度</label>
        <div class="d-flex gap-2">
          <% Dog.activity_levels.keys.each do |act| %>
            <%= f.radio_button :activity_level, act, class: "btn-check", id: "dog_activity_level_#{act}" %>
            <%= f.label "activity_level_#{act}", activity_i18n(act), class: "btn btn-outline-warning rounded-pill px-4" %>
          <% end %>
        </div>
      </div>

      <!-- アレルギー -->
      <div class="mb-4">
        <label class="form-label fw-bold">アレルギー</label>

         <div class="d-flex flex-wrap gap-2">
          <% Dog::ALLERGIES.each_with_index do |item, i| %>
             <% input_id = "allergy_#{i}" %>

            <%= f.check_box :allergies,
                  { multiple: true, class: "btn-check", id: input_id },
                  item,
                  nil %>

            <%= label_tag input_id,
                  item,
                  class: "btn btn-outline-warning rounded-pill px-4" %>
          <% end %>
        </div>
      </div>

      

      <div class="d-grid">
        <%= f.submit dog.new_record? ? "登録する" : "更新する",
            class: "btn btn-warning btn-lg rounded-pill fw-bold text-white" %>
      </div>

    <% end %>
      <% if dog.persisted? %>
        <div class="text-center mt-3">
          <%= button_to "#{dog.name}ちゃんの情報を削除",
              dog_path(dog),
              method: :delete,
              data: { turbo_confirm: "本当に削除しますか？", turbo:true },
              class: "btn btn-outline-danger rounded-pill px-4" %>
           </div>
      <% end %>

    <div class="text-center mt-4">
      <%= link_to "← 戻る", root_path,
          class: "btn btn-secondary btn-lg" %>
    </div>
  </div>
</div>