<%= render "recipes/recipe_detail", recipe: @recipe %>

<%= form_with url: recipes_path, method: :post, data: { turbo: false } do |f| %>

  <%= hidden_field_tag "recipe[name]", @recipe.name %>
  <%= hidden_field_tag "recipe[description]", @recipe.description %>
  <%= hidden_field_tag "recipe[instructions]", @recipe.instructions %>
  <%= hidden_field_tag "recipe[nutrition_note]", @recipe.nutrition_note %>

  <% @recipe.ingredients_json["medium"].each_with_index do |ingredient, i| %>
    <% next if ingredient["name"].blank? || ingredient["amount"].blank? %>

    <%= hidden_field_tag "recipe[ingredients_json][medium][#{i}][name]", ingredient["name"] %>
    <%= hidden_field_tag "recipe[ingredients_json][medium][#{i}][amount]", ingredient["amount"] %>
    <%= hidden_field_tag "recipe[ingredients_json][medium][#{i}][unit]", ingredient["unit"] %>
  <% end %>

  <%= hidden_field_tag "recipe[age_stage]", @recipe.age_stage %>
  <%= hidden_field_tag "recipe[body_type]", @recipe.body_type %>
  <%= hidden_field_tag "recipe[activity_level]", @recipe.activity_level %>

 <div class="text-center mt-5">
  <%= link_to "修正する",
    new_recipe_path(recipe: @recipe.attributes),
    class: "btn me-3",
    style: "
      border-radius: 30px;
      padding: 10px 25px;
      border: 2px solid #ccc;
      color: #555;
    " %>

  <%= f.submit "レシピを投稿する",
    class: "btn",
    style: "
      background-color: #f4a300;
      color: white;
      border-radius: 30px;
      padding: 10px 25px;
      font-weight: bold;
    " %>
</div>

<% end %>