<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "dog-recipe" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>

    <% unless controller_name.in?(["users", "user_sessions","homes"]) %>
      <%= render "shared/header" %>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-success text-center">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger text-center">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>